<div class="chess-board-wrapper" [style.width.px]="chessBoardSize() + 40" [style.height.px]="chessBoardSize() + 40">
  <div class="notation-top">
    <div class="notation" *ngFor="let letter of ['A','B','C','D','E','F','G','H']">{{ letter }}</div>
  </div>
  <div class="notation-left">
    <div class="notation" *ngFor="let number of [8,7,6,5,4,3,2,1]">{{ number }}</div>
  </div>

  <div class="chess-board">
    <div class="board-background">
      <img src="/assets/board/wood4.jpg" alt="Chess Board Background">
    </div>
    <div class="field-container" *ngFor="let coordinate of coordinates">
      <app-field
        [coordinate]="coordinate"
        [piece]="fieldMap.get(coordinate)!">
      </app-field>
    </div>
  </div>
</div>
