.chess-board-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  &.flipped {
    transform: rotate(180deg);

    .chess-board {
      flex-direction: row-reverse;
    }

    .notation-top {
      transform: rotate(180deg);
    }

    .notation-left {
      transform: rotate(180deg);
      left: -25px;
    }

    .field-container {
      transform: rotate(180deg);
    }
  }
}

.notation-top {
  color: #e3c3a5;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 50px);
  top: -30px;

  .notation {
    font-size: 18px;
  }
}

.notation-left {
  color: #e3c3a5;
  position: absolute;
  top: 20px;
  left: -15px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .notation {
    font-size: 16px;
    transform: translateX(-8px);
  }
}

.chess-board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  overflow: hidden;
}

.board-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.field-container {
  width: calc(100% / 8);
  height: calc(100% / 8);
  display: flex;
  justify-content: center;
  align-items: center;
}
