.piece {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece img {
  width: 80%;
  height: auto;
}

.piece.white {
  filter: grayscale(0);
}

.piece.black {
  filter: invert(1);
}
