<div class="profile-picture-container">
  <button
    class="profile-picture-button"
    (click)="toggleDropdown()"
    (keydown)="handleKeyDown($event)"
    aria-haspopup="true"
    [attr.aria-expanded]="isDropdownPage()"
  >
    <img
      class="profile-picture"
      [src]="profilePictureBase64!"
      alt="User Profile Picture"
      width="400"
      height="200"
    />
  </button>

  <div class="dropdown-page" *ngIf="isDropdownPage()">
    <ul>
      <li>
        <a [routerLink]='["/settings"]'>Settings</a>
      </li>
      <li>
        <button (click)="handleLogout()" (keydown)="handleKeyDown($event, 'logout')">Logout</button>
      </li>
    </ul>
  </div>
</div>
