<div
  class="profile-picture-container"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">

  <button
    class="profile-picture-button"
    (keydown)="handleKeyDown($event)"
    aria-haspopup="true"
    [attr.aria-expanded]="isDropdownPage()"
  >
    <img class="profile-picture" [src]="profilePictureBase64!" alt="User Profile Picture"/>
  </button>

  <div class="dropdown-page"
       *ngIf="isDropdownPage()"
       (mouseenter)="onDropdownMouseEnter()"
       (mouseleave)="onDropdownMouseLeave()"
  >
    <ul>
      <li>
        <a [routerLink]="['/settings']">Settings</a>
      </li>
      <li>
        <a (click)="handleLogout()" (keydown)="handleKeyDown($event, 'logout')">Logout</a>
      </li>
    </ul>
  </div>
</div>
