<div
  class="profile-picture-container"
  (mouseenter)="!isTouchDevice() && onMouseEnter()"
  (mouseleave)="!isTouchDevice() && onMouseLeave()"
  (click)="isTouchDevice() && onProfileClick()"
  >

  <button class="profile-picture-button">
    <img class="profile-picture" [src]="profilePictureBase64!" alt="User Profile Picture"/>
  </button>

  <div class="dropdown-page"
       *ngIf="isDropdownPage()"
       (mouseenter)="!isTouchDevice() && onDropdownMouseEnter()"
       (mouseleave)="!isTouchDevice() && onDropdownMouseLeave()"
  >
    <ul>
      <li>
        <p class="username">{{userProperties?.username}}</p>
      </li>
      <li>
        <p class="email">{{userProperties?.email}}</p>
      </li>
      <li>
        <p class="rating">Rating: {{userProperties?.rating}}</p>
      </li>
      <li>
        <button class="icon-button" (click)="onFileInputClick()">
          <i class="icon-pencil" aria-hidden="true"></i> Change Picture
        </button>
        <input class="input-picture" #fileInput type="file" accept="image/*" (change)="onFileSelected($event)">
      </li>
      <li>
        <button class="icon-button" (click)="deleteProfilePicture()">
          <i class="icon-trash" aria-hidden="true"></i> Delete Picture
        </button>
      </li>
      <li>
        <button class="settings" (click)="toggleSettings()">
          Settings
        </button>
      </li>
      <li>
        <a class="logout" (click)="handleLogout()">Logout</a>
      </li>
    </ul>
  </div>

  <div class="settings-wrapper" *ngIf="isSettingsDisplayed()">
    <app-settings></app-settings>
  </div>
</div>
