<div
  class="profile-picture-container"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">

  <button
    class="profile-picture-button"
    (keydown)="handleKeyDown($event)"
    aria-haspopup="true"
    [attr.aria-expanded]="isDropdownPage()"
  >
    <img class="profile-picture" [src]="profilePictureBase64!" alt="User Profile Picture"/>
  </button>

  <div class="dropdown-page"
       *ngIf="isDropdownPage()"
       (mouseenter)="onDropdownMouseEnter()"
       (mouseleave)="onDropdownMouseLeave()"
  >
    <ul>
      <li>
        <p class="username">{{userProperties?.username}}</p>
      </li>
      <li>
        <p class="email">{{userProperties?.email}}</p>
      </li>
      <li>
        <p class="rating">Rating: {{userProperties?.rating}}</p>
      </li>
      <li>
        <button class="icon-button" (click)="onFileInputClick()">
          <i class="icon-pencil" aria-hidden="true"></i> Change Picture
        </button>
        <input class="input-picture" #fileInput type="file" accept="image/*" (change)="onFileSelected($event)">
      </li>
      <li>
        <button class="icon-button" (click)="deleteProfilePicture()">
          <i class="icon-trash" aria-hidden="true"></i> Delete Picture
        </button>
      </li>
      <li>
        <a class="settings" [routerLink]="['/settings']">Settings</a>
      </li>
      <li>
        <a class="logout" (click)="handleLogout()" (keydown)="handleKeyDown($event, 'logout')">Logout</a>
      </li>
    </ul>
  </div>
</div>
