.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg,
    #5c4033 50%,
    #000000 50%
  ) fixed;
}
