<div class="home">
  <div class="home-text">
    <h1 class="home-heading">Welcome to Chessland!</h1>
    <p class="home-paragraph">
      Step into the timeless world of chess, where strategy meets creativity.
      Challenge your friends or face off against players worldwide, hone your skills with intricate puzzles,
      and dive deep into advanced game analysis. Here at Chessland, every move is an adventure!
    </p>
    <h2 class="home-close-heading">Enjoy the world of chess with Chessland!</h2>
  </div>

  <app-navbar />
</div>
