$main-text-color: #F5F5DC;
$chessland-logo-font: "Georgia", Serif, serif;
$main-font: "Liberation Serif", serif;
$shadow-light: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.7);
$shadow-dark: 1rem 1rem 2rem rgba(0, 0, 0, 0.6);
$shadow-soft: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-root {
  width: 100%;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
